# pretrain
torch>=2.1.0
lightning @ git+https://github.com/Lightning-AI/lightning@6dfa5cca9de5c28548eef5582a53c483b0eda66a
jsonargparse[signatures]
bitsandbytes==0.41.0
scipy
transformers==4.32.1
sentencepiece
tokenizers
datasets
zstandard
pandas
pyarrow
tensorboard
torchmetrics
# eval
git+https://github.com/EleutherAI/lm-evaluation-harness.git@115206dc89dad67b8beaa90051fb52db77f0a529
lightning[data] @ git+https://github.com/Lightning-AI/lightning@6dfa5cca9de5c28548eef5582a53c483b0eda66a
